* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;

}

body {
    
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.parent_div {
    background-color: white;
    width: 700px;
    height: 700px;
    border-style: hidden;
    border-radius: 30px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1, p {
    margin: 0;
    padding: 0;
}

.header {
    font-size: 3.7rem;
    text-align: center;
    margin-top: 3.3rem;
    margin-bottom: 0.7rem;
}

.already_account {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 2.3rem;
}

/*the four text fields*/

.input1_4 {
    font-size: 1.2rem;
    margin-bottom: 1.7rem;
    border-radius: 15px;
    height: 3.7rem;
    width: 523px;
    background-color: #E0DEDE;
    border-style:hidden;

    /*position cursor to right*/
    padding: 0 0 0 20px;
}

.input2_3 {
    font-size: 1.2rem;
    margin-bottom: 1.7rem;
    border-radius: 15px;
    height: 3.7rem;
    width: 15.6rem;
    background-color: #E0DEDE;
    border-style: hidden;

    /*position cursor to right*/
    padding: 0 0 0 20px;
}

/*hover for the text fields*/

.input1_4:hover {
    background-color: white;
    box-shadow: 0px 0px 0px 2px lightgray;
    /*outside border black 2px width*/
    
    box-shadow: 0px 0px 0px 2px lightgray inset;
    /*inside border black 2px width*/
}

.input2_3:hover {
    background-color: white;
    box-shadow: 0px 0px 0px 2px lightgray;
    /*outside border black 2px width*/
    
    box-shadow: 0px 0px 0px 2px lightgray inset;
    /*inside border black 2px width*/
}

::placeholder {  
    font-style: italic;
   
} 

/*change the default on clicked input field*/

.input1_4:focus {
    outline-style: none;
}

.input2_3:focus {
    outline-style: none;
}

button {
    border-radius: 15px;
    border-style: none;
    background-color: #5697F6;
    color: white;
    cursor: pointer;
    height: 3.7rem;
    width: 34rem;
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 2.4rem;
}

/*arrow*/

.arrow { /*this middle part of arrow is not showing*/
    width: 22px;
    height: 3px;
    background-color: white;
    position: relative;
    border-radius: 9px;
    left: 13rem;
    bottom: 0.7rem;
  }
  
  .arrow:after {
      content: "";
      display: inline-block;
      width: 15px;
      height: 3px;
      background-color: white;
      transform: rotate(45deg);
      position: absolute;
      right: -3.5px;
      bottom: 4.5px;
      border-radius: 9px;
  }
  
  .arrow:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 3px;
      background-color: white;
      transform: rotate(-45deg);
      position: absolute;
      right: -3.5px;
      bottom: -4.5px;
      border-radius: 9px;
  }

#align_fields {
    margin: auto;
    width: 80%;
}

/*changed color for links*/

a {
    color: #4AA6D4;
}

/* Customize the label (the container) */

.terms_of_service {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

/*hide the default checkbox*/

  .terms_of_service input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */

  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #D1CFCD;
    border-color: #B8B6B4;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
  }

  
  /* When the checkbox is checked, add a blue background */
  .terms_of_service input:checked ~ .checkbox {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkbox:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .terms_of_service input:checked ~ .checkbox:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .terms_of_service .checkbox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

label a {
    text-decoration: none;
}

#terms_of_service {
    font-size: 1.4rem;
    color: #545454;
}